fiona
numpy>=1.21
shapely
geopandas
pandas
opencv-python-headless
geopy
astral
pymap3d
pebble
tifffile
rasterio
pymongo
requests
uvicorn
azure-storage-blob
retry
requests_toolbelt
loguru
freezegun
tqdm
pydantic